################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Forms/AndroidCarLaucher/AndroidCarLaucher/AndroidCarLaucher/bin/Debug/netstandard2.0
/Forms/AndroidCarLaucher/AndroidCarLaucher/AndroidCarLaucher/obj
/Forms/AndroidCarLaucher/AndroidCarLaucher/AndroidCarLaucher.Android/bin/Debug
/Forms/AndroidCarLaucher/AndroidCarLaucher/AndroidCarLaucher.Android/obj
