################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Forms/AndroidCarLaucher/AndroidCarLaucher/AndroidCarLaucher/bin/Debug/netstandard2.0
